// app global css in SCSS form

// Custom variables for dark theme
$body-bg-color: #121212; // ダーク背景色
$body-font-color: #e0e0e0; // 明るいテキスト色
$header-bg-image: url('../assets/game-title-logo.webp');
$header-height: 200px;
$header-title-font-size: 2.5rem;
$header-title-color: #fff;
$header-title-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

// Apply custom variables
body {
  background-color: $body-bg-color;
  font-family: 'Arial', sans-serif;
  color: $body-font-color;
}

.header {
  background: $header-bg-image no-repeat center center;
  background-size: contain;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-size: $header-title-font-size;
  color: #ffcc00; // フォントカラーを変更
  text-shadow:
    3px 3px 6px rgba(255, 255, 255, 0.9),
    // 影の色を変更
    0 0 15px rgba(255, 204, 0, 0.7); // シャドウの色を変更
  font-family: 'Cinzel', serif; // フォントファミリーを変更
  letter-spacing: 0.1rem; // 文字間隔を調整
  text-transform: uppercase; // 大文字に変換
}
